/*************************************************/

html {
	background-color: #282828;
}

body {
	margin: 0;
    border-left: 2vw solid #fdca3b;
    border-right: 2vw solid #fdca3b;
}

/*************************************************/

a, p, h1, h2, h3, button {
    color: #ededed;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

a, p, h2, h3, button {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 6em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.3em;
}

a, p, button {
    font-size: 1.1em;
}

/*************************************************/

div.fill-page {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    clear: both;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    visibility: hidden;
}

div.center-page {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    ms-transform: translate(-50%, -50%);
    display: block;
}

/*************************************************/

div.home-container {
    width: 39em;
    display: inline-block;
    margin: none;
    visibility: visible;
}

div.home-floated {
    float: left;
    width: 18.5em;
}

/*************************************************/