/*************************************************/

html {
	background-color: #282828;
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
}

/*************************************************/

a, p, h1, h2, h3, button {
    color: #ededed;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

a, p, h2, h3, button {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 6em;
}

h2 {
    font-size: 2em;
}

h2.portfolio {
    font-family: 'Staatliches', cursive;
    font-size: 3em;
}

h3 {
    font-size: 1.3em;
}

p, nav {
    font-size: 1.1em;
}

a {
    text-decoration: none;
    outline: none;
    transition-duration: 0.5s;
}

a:hover {
    color: #fdca3b;
}

button {
    background-color: transparent;
    padding: none;
    border: none;
    transition-duration: 0.5s;
    font-weight: bold;
    outline: none;
}

button:hover {
    color: #fdca3b;
    cursor: pointer;
}

/*************************************************/

div.fill-page {
    width: 100%;
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    clear: both;
    text-align: center;
}

div.center-page {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    ms-transform: translate(-50%, -50%);
    display: block;
}

/*************************************************/

div.home-container {
    width: 39.5em;
    display: inline-block;
    margin: none;
    visibility: visible;
}

div.home-floated {
    float: left;
    width: 19em;
}

div.page-container {
    margin-top: 150px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    text-align: center;
}

div.portfolio {
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 5%;
    text-align: center;
    width: 70em;
}

div.portfolio-container {
    width: 30em;
    height: 20em;
    display: inline-block;
    padding: 1.5em;
}

div.portfolio-internal-container {
    width: 100%;
    height: 15em;
    padding-bottom: 1em;
}

/*************************************************/

#menu {
    position: fixed;
    top: 0em;
    width: 100%;
    background-color: #282828;
    z-index: 9999;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #fdca3b;
}

::-webkit-scrollbar              { background-color: #917831; }
::-webkit-scrollbar-button       { display: none; }
::-webkit-scrollbar-track-piece  { background-color: #917831; }
::-webkit-scrollbar-thumb        { background-color: #fdca3b; }

hr {
    margin: 2em;
    border: none;
}