/* Setting background/page settings */
html {
    /*background-image: url("images/pink_flower.png");*/
    background-size: 30em;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.content {
    overflow: auto;
}

::-webkit-scrollbar              { background-color: white; }
::-webkit-scrollbar-button       { display: none; }
/*::-webkit-scrollbar-track        { background-color: hotpink; }*/
::-webkit-scrollbar-track-piece  { background-color: white; }
::-webkit-scrollbar-thumb        { background-color: hotpink; }

body {
    margin: 0;
}

/* Setting font families */
h1, h2, h3, h4, h5, h6, a, p, button {
    font-family: 'Jua', sans-serif;
    color: #525252;
    padding: none;
    font-weight: normal;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* Setting sizes */
p { font-size: 1.4em; }
h1 {font-size: 4em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.3em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1.1em;}

button {font-size: 2.5em;}

h1 img {
    height: 0.8em;
    width: auto;
}

hr {
    color: white;
    height: 2em;
    border: none;
}

/* Hyperlinks */
a {
    text-decoration: none;
    color: #515151;
    font-weight: bold;
    -webkit-transition-duration: 0.4s; /*For Safari users*/
    transition-duration: 0.4s;
    text-shadow: 0 0 1em rgb(255, 255, 255);
}

a.paragraph {
    font-weight: bolder;
}

.navbar:hover {
    color: hotpink;
}

a:hover {
    color: hotpink;
}

button {
    background: none;
    color: white;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /*For Safari users*/
    transition-duration: 0.4s;
    outline: none;
    border: none;
    text-shadow: 0 0 1em rgb(255, 255, 255);
}

/* Miscellaneous */
.black-background-text {
    padding: 0.2em;
}

.fancy-font {
    font-family: 'Sacramento', cursive;
    font-size: 2em;
}

/* Divs and dividers */
div.main {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    /*line-height: 0.9em;*/
    border: 0.1em solid white;
}

div.bio {
    display: inline-block;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 2em;
    padding-top: 5em;
    /*line-height: 0;*/
    border: 0.1em solid white;
}

div.fill-page {
    /*position: relative;*/
    min-height: 100vh;
    padding: 0;
    margin: 0;
    text-align: center;
    clear: both;
}

div.contact-section {
    padding: 0;
    margin: 0;
    text-align: center;
}

div.center-page {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    ms-transform: translate(-50%, -50%);
    display: block;
}

div.just-for-projects {
    padding: 10%;
    vertical-align: center;
    text-align: center;
}

.margin-top {
    padding: 10%;
}

div.fill-page-with-solid-black-background {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    text-align: center;
    clear:both;
    background-color: rgba(0, 0, 0, 0.5);
}

.opaque-background {
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.text-box-background {
    background-color: #F6F5F3;
    transition: 0.5s;
}

.text-box-background:hover {
    background-color: #F6F5F3;
}

.margins {
    margin-right: 20%;
    margin-left: 20%;
}

.justified-text {
    text-align: left;
}

.cursor-pointer {
    cursor: pointer;
    display: inline;
}

.padded-navbar {
    position:fixed;
    top: 0em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9999;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 0.1em solid white;
    transition: 0.5s;
}

img:hover {
    transition: 0.5s;
    -webkit-filter: drop-shadow(0 0 0.5em white); /* Safari 6.0 - 9.0 */
    filter: drop-shadow(0 0 0.5em white);
}

img.more-glow:hover {
    -webkit-filter: drop-shadow(0 0 2em white); /* Safari 6.0 - 9.0 */
    filter: drop-shadow(0 0 2em white);
}

/* Animations */
@-webkit-keyframes animatetop {
    from {
        top:-300px;
        opacity:0
    } to {
        top:0;
        opacity:1
    }
}

@keyframes animatetop {
    from {
        top: -9em;
        opacity: 0
    } to {
        top: 0;
        opacity: 1
    }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
